button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

label {
    color: #fff;
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
	background-image: url("../images/quote-bg-img.jpg");
    font-family: 'Bad Script', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}



